* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--f-color);
}

/* Light mode theme */
.theme-light {
  --bg-color: #fafafa;
  --f-color: #121212;
  --text-grad-1: #035afc;
  --text-grad-2: #03fca9;
  --toggle-bg: #ddd;
  --toggle-switch-bg: #fff;
}

/* Dark mode theme */
.theme-dark {
  --bg-color: #121212;
  --f-color: #fafafa;
  --text-grad-1: #fc036f;
  --text-grad-2: #fc9d03;
  --toggle-bg: #222;
  --toggle-switch-bg: #555;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex; /* Use the flex layout to display the child elements in a row */
  justify-content: center; /* Center the child elements horizontally */
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  padding-top: 1.5rem;
}

.picture {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black; /* Add a black border around the picture */
  display: block; /* Make the picture a block-level element */
  margin: 0 auto; /* Center the picture horizontally */
  cursor: pointer; /* Add a pointer cursor when hovering over the picture */
  margin: 0 5px;
  transition: transform 0.2s;
}

.picture:hover {
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.8);
  transform: scale(1.1);
}

.wrapper {
  width: 211px;
  margin: 2em auto;
  margin-bottom: 5px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  font-size: 0.6875em;
}

/* Container */
#vimberly {
  background: var(--bg-color);
  color: var(--f-color);
  transition: background 450ms ease-in-out;
}

/* Button toggle */
#toggle {
  width: 60px;
  height: 30px;
  background: var(--toggle-bg);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 74%;
  left: 50%;
  transform: translate(-50%, 0);
}

#circle {
  position: absolute;
  background: var(--toggle-switch-bg);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 450ms ease;
}

.logo {
  margin: 0 auto; /* Center the logo horizontally */
  display: block; /* Display the logo as a block element */
}

.big {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
